extends layout

block title 
    title Chat 

block content 
    header#banner
        h1 Chat 
    section#chatroom
        div#messages 
        input#message(type="text", placeholder="Escriba su mensaje aqui")
        input#send(type="button", value="send")

    
